Assignments/Web-Service/RecordsManagement-WebService/src/conf/xml-resources/web-service-references/CentralServer/wsdl/localhost_8080/RecordsManagement-WebService/CentralServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Server/" name="CentralServer">
<types>
<xsd:schema>
<xsd:import namespace="http://Server/" schemaLocation="http://localhost:8080/RecordsManagement-WebService/CentralServer?xsd=1"/>
</xsd:schema>
</types>
<message name="createERecord">
<part name="parameters" element="tns:createERecord"/>
</message>
<message name="createERecordResponse">
<part name="parameters" element="tns:createERecordResponse"/>
</message>
<message name="editRecord">
<part name="parameters" element="tns:editRecord"/>
</message>
<message name="editRecordResponse">
<part name="parameters" element="tns:editRecordResponse"/>
</message>
<message name="transferRecord">
<part name="parameters" element="tns:transferRecord"/>
</message>
<message name="transferRecordResponse">
<part name="parameters" element="tns:transferRecordResponse"/>
</message>
<message name="getRecordCount">
<part name="parameters" element="tns:getRecordCount"/>
</message>
<message name="getRecordCountResponse">
<part name="parameters" element="tns:getRecordCountResponse"/>
</message>
<message name="createMRecord">
<part name="parameters" element="tns:createMRecord"/>
</message>
<message name="createMRecordResponse">
<part name="parameters" element="tns:createMRecordResponse"/>
</message>
<portType name="CentralServer">
<operation name="createERecord">
<input wsam:Action="http://Server/CentralServer/createERecordRequest" message="tns:createERecord"/>
<output wsam:Action="http://Server/CentralServer/createERecordResponse" message="tns:createERecordResponse"/>
</operation>
<operation name="editRecord">
<input wsam:Action="http://Server/CentralServer/editRecordRequest" message="tns:editRecord"/>
<output wsam:Action="http://Server/CentralServer/editRecordResponse" message="tns:editRecordResponse"/>
</operation>
<operation name="transferRecord">
<input wsam:Action="http://Server/CentralServer/transferRecordRequest" message="tns:transferRecord"/>
<output wsam:Action="http://Server/CentralServer/transferRecordResponse" message="tns:transferRecordResponse"/>
</operation>
<operation name="getRecordCount">
<input wsam:Action="http://Server/CentralServer/getRecordCountRequest" message="tns:getRecordCount"/>
<output wsam:Action="http://Server/CentralServer/getRecordCountResponse" message="tns:getRecordCountResponse"/>
</operation>
<operation name="createMRecord">
<input wsam:Action="http://Server/CentralServer/createMRecordRequest" message="tns:createMRecord"/>
<output wsam:Action="http://Server/CentralServer/createMRecordResponse" message="tns:createMRecordResponse"/>
</operation>
</portType>
<binding name="CentralServerPortBinding" type="tns:CentralServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createERecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="transferRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRecordCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createMRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CentralServer">
<port name="CentralServerPort" binding="tns:CentralServerPortBinding">
<soap:address location="http://localhost:8080/RecordsManagement-WebService/CentralServer"/>
</port>
</service>
</definitions>